html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.hero-image {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: url(wp.jpg) no-repeat 50% 50%;
    background-size: cover;
    box-shadow: 0 0 5px 5px rgba(41, 42, 43, 0.8);
    z-index: 50;
}

.parallax-el {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(Removal-92.png) no-repeat 50% 50%;
    background-size: cover;
    top: 25%;
}

.text {
    position: absolute;
    width: 75%;
    display: block;
    left: 15%;
    height: auto;
    margin: auto;
    top: 400px;
    z-index: 100;
}

@media (width <= 500px) {
    .text {
        top: 4rem;
        width: 90%;
        left: 7%;
    }
}

.clouds {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background: url(cloud3.png) no-repeat 50% 50%;
    z-index: 99;

    background-size: cover;
}

.whitespace {
    width: 100%;
    height: 100vh;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: 80px 0;
    font-family: Helvetica;
}

h1 {
    font-size: 42px;
    font-family: Anton;
    text-transform: uppercase;
    text-align: center;
}

p {
    line-height: 40px;
    text-align: justify;
}

.date {
    color: rgb(165, 38, 38);
}

.mapContainer {
    margin: 10px;
    border: 1px solid rgba(255, 0, 0, 0.74);
}

.mapContainer iframe {
    margin-bottom: -4px;
}

.mapButton {
    background: #dd3c36;
    border: 1px solid #ff4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.mapButton:hover,
.mapButton:active {
    background-color: initial;
    background-position: 0 0;
    color: #ff4742;
}

.button-24:active {
    opacity: 0.5;
}

.synposis h1 {
    color: hsl(0, 100%, 52%);
}
.synposis p {
    color: white;
}

.synposis {
    background: hsl(0, 0%, 9%) !important;
}

:root {
    --color: #d30b0b9a;
}

body {
    font-size: 16px;
    font-family: "Montserrat", sans-sherif;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    position: relative;
    background: #0e0d0d;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.8);
}

.hero h2 {
    position: relative;
    z-index: 1;
    font-size: 4.5rem;
    margin: 0 0 10px;
    line-height: 1;
    color: rgb(209, 16, 16);
    text-align: center;
}

.hero p {
    position: relative;
    z-index: 1;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.644);
    line-height: 1.4;
}

/* ========================= */

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 800px;
    background-color: var(--color);
    box-shadow: inset 0 0 50px rgb(0, 0, 0);
    transition: 1000ms;
}

.waves::before,
.waves::after {
    content: "";
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -10vw;
    left: 50%;
    transform: translate(-50%, -95%);
}

.waves::before {
    border-radius: 44%;
    background: rgb(0, 0, 0);
    animation: waves 8s linear infinite;
}

.waves::after {
    border-radius: 44%;
    background: rgba(0, 0, 0, 0.781);
    animation: waves 15s linear infinite;
}

@keyframes waves {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}
@media (min-width: 700px) {
    .waves::before,
    .waves::after {
        top: -60vw;
    }
}

.ital {
    font-style: italic;
}
.stro {
    font-weight: bolder;
}

.lieu {
    color: rgb(189, 107, 107);
    margin: 0px !important;
    font-style: italic;
    font-size: 15px;
}

.comediens {
    height: 100%;

    background-color: black;
}
.comediens h1 {
    position: relative;
    top: 3%;
    margin: auto;
    z-index: 1000;
    margin-top: 10px;
    font-family: inherit;
    color: red;
}
#comedien_name {
    position: relative;
    top: 5%;
    margin: auto;
    z-index: 1000;
    color: white;
    text-align: center;
    font-size: 20px;
}
.comediens div {
    background: url(./ANARCHIE.png) no-repeat center center;
    background-size: contain;
    z-index: 10;
    height: 90%;
    margin: auto;
    cursor: none;
}
.dummy {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black !important;
    z-index: 10;
}
.spotlight {
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: 100;
    background-image: radial-gradient(
        circle,
        transparent 20px,
        rgb(0, 0, 0) 100px
    );
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ffffff;
}
a {
    color: #82b440;
    text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after {
    content: "";
    display: table;
    clear: both;
}

.blog-comment {
    padding-left: 15%;
    padding-right: 15%;
}

.blog-comment ul {
    list-style-type: none;
    padding: 0;
}

.blog-comment img {
    opacity: 1;
    filter: Alpha(opacity=100);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.blog-comment img.avatar {
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 0;
    width: 65px;
    height: 65px;
}

.blog-comment .post-comments {
    border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
    margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #6b6e80;
    position: relative;
}

.blog-comment .meta {
    font-size: 13px;
    color: #aaaaaa;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul {
    list-style-type: none;
    padding: 0;
    margin-left: 85px;
}

.blog-comment-form {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3 {
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 800;
}

.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px;
    cursor: default;
}
.star-rating input[type="radio"] {
    display: none;
}
.star-rating label {
    color: #bbb;
    font-size: 2rem;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
    color: #f2b600;
}

.fa-star {
    background: url("./icon.svg");
    height: 120px;
    width: 120px;
    display: inline-block;
}

.rating {
    margin: 50px auto;
    width: 400px;
}
.rating > * {
    float: right;
}
@-webkit-keyframes pulse {
    50% {
        color: #5e5e5e;
        text-shadow: 0 0 15px #777777;
    }
}
@keyframes pulse {
    50% {
        color: #5e5e5e;
        text-shadow: 0 0 15px #777777;
    }
}
.rating label {
    height: 40px;
    width: 20%;
    display: block;
    position: relative;
    cursor: pointer;
}
.rating label:nth-of-type(5):after {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.rating label:nth-of-type(4):after {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.rating label:nth-of-type(3):after {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}
.rating label:nth-of-type(2):after {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.rating label:nth-of-type(1):after {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}
.rating label:after {
    transition: all 0.4s ease-out;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    background: url("./icon.svg");
    color: #444;
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
    text-align: center;
    font-size: 80px;
    -webkit-animation: 1s pulse ease;
    animation: 1s pulse ease;
}
.rating label:hover:after {
    color: #5e5e5e;
    text-shadow: 0 0 15px #5e5e5e;
}
.rating input {
    display: none;
}
.rating input:checked + label:after,
.rating input:checked ~ label:after {
    content: "A";
    color: #f9bf3b;
    text-shadow: 0 0 20px #f9bf3b;
}

body {
    background-color: #111;
}
